header{
	position: relative;
	width: 100vw;
	height: 25px;
}

.header__body{
	background: #467996; 	
	top: -25px;
	left: 0;
	position: fixed;
	width: 100%;
	height: 25px;
	z-index: 5;
	transition: top 0.3s ease-in-out;
	box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.3);
	-webkit-app-region: drag; /* Make header draggable */
}

.header__body.visible {
  top: 0; /* Visible position */
}

.header__body .header__body__container{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

.controll i {
  -webkit-app-region: no-drag; /* Prevent buttons from dragging the window */
}

.header__body .header__body__container .controll{
	padding: 0 10px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 10px;
}

.close{
	padding: 5px;
	border-radius: 5px;
	background: rbga(0, 0, 0, 0);
	font-size: 10px;
	cursor: pointer;
	color: white;
	top: 10px;
	right: 10px;
	transition: 0.5s;
}

.close:hover{
	background: #964651;
}

.turn{
	padding: 5px;
	border-radius: 5px;
	background: rbga(0, 0, 0, 0);
	font-size: 10px;
	cursor: pointer;
	color: white;
	top: 10px;
	right: 10px;
	transition: 0.5s;
}

.turn:hover{
	background: #528dae;
}
